/* Page width */
#genshin-zodiac{
    height: 100%;
    margin: 2rem auto 0;
    width: 90%;
}

@media (min-width: 768px){
    #genshin-zodiac{
        width: 80%;
    }
}

/* Style character buttons */
.buttons{
    background-color: transparent;
    background-size: cover;
    border: none;
    outline: none;
    opacity: 50%;
}

button.active{
    opacity: 100%;
}

.buttons:hover{
    cursor: pointer;
    opacity: 100%;
}

#zodiac-button-list{
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding-top: 2rem;
}

.zodiac-buttons{
    height: 76px;
    width: 76px;
}

@media (min-width: 768px){
    #zodiac-button-list{
        display: grid;
        grid-template-columns: auto auto auto auto auto auto;
        grid-template-rows: auto auto;
        gap: 0.8rem;
        width: 31.25rem;
    }
}

/* Style control buttons */
#control-button-list{
    margin: 1rem auto;
    width: 90%;
}

#control-button-list div{
    display: flex;
    gap: 0.5rem;
    justify-content: flex-end;
}

.control-buttons{
    height: 50px;
    width: 50px;
}

/* Style changeable content */
#changeable-content-div{
    background-color: rgba(255, 255, 255, 0.3);
    color: #FFF;
    margin: 1rem auto 2rem;
    width: 90%;
}

#changeable-content-div h1, #changeable-content-div h2{
    margin: 0 auto 1rem;
    padding-top: 2rem;
    text-align: center;
    width: 90%;
}

#changeable-content-div h1{
    font-size: 2.5rem;
    line-height: 3rem;
}

#changeable-content-div h2{
    border-top: 2px solid #FFF;
    font-size: 1.2rem;
    line-height: 2rem;
    padding-top: 1rem;
}

#changeable-content-div p{
    border-top: 2px solid #FFF;
    font-size: 1.1rem;
    line-height: 1.8rem;
    margin: 0 auto;
    padding-bottom: 2rem;
    padding-top: 1rem;
    width: 90%;
}

#changeable-content-div img{
    display: none;
}

#changeable-content-div input{
    display: block;
}

#input{
    padding-bottom: 1rem;
}

#date{
    font-family: 'Default_SC', serif;;
    font-size: 1rem;
    height: 2rem;
    margin: 0 auto;
    text-align: center;
    width: 80%;
    max-width: 20rem;
}

#date:hover{
    cursor: pointer;
}

#submit{
    background-color: transparent;
    border: 3px solid #FFF;
    color: #FFF;
    font-family: 'Default_SC', serif;;
    font-size: 1.2rem;
    margin: 2rem  auto;
    padding: 1rem;
}

#submit:hover{
    background-color: #FFF;
    color: #000;
    cursor: pointer;
}

@media (min-width: 768px){
    #date{
        width: 40%;
    }
}

@media (min-width: 1200px){
    #control-button-list{
        max-width: 50rem;
        width: 86%;
    }

    #changeable-content-div{
        max-width: 50rem;
        width: 86%;
    }

    #character-content-div{
        display: grid;
        grid-template-columns: 39.75% 0.5% 59.75%;
        grid-template-areas: 'img . content';
    }

    #character-content-div div{
        align-self: center;
        grid-area: content;
    }

    #character-content-div img{
        display: block;
        grid-area: img;
        width: 100%;
    }

    #date{
        width: 40%;
    }
}